/* HEADER */
header {
    padding: 20px 35px;
    background-color: wheat;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    top: 0;;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-position: 80%;

}

header nav {
    margin: 7px 0;
}

header nav ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw; 
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

/* BODY */
body {
    background-color: rgb(218, 226, 208);
}

body h1 {
    color: black;
    background-color: aqua;
}

/* SUBTITLE */
.subtitle {
    padding: 100px;
    background-color: teal;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

img {
    width: 200px;
    height: 300px;
    text-align: left;
    
}

.cool-subtitle {
    text-align: right;
}

/* SECTION(S)! */
.section-h2 {
    size: 40px;
    text-align: center;
    width: 100px;
}

section p {
    size: 20px;
    padding: 45px;
    ;
}

/* SECTION KNOW ME */
.know-me {
    display: flex;
}

/* SECTION PROJECT */
.projects {
    display: flex;
}

.website {
    display: flex;
    flex-direction: column;
    width: 100%;
 }


 
 .main-website {
     width: 100%;
     border: 1px solid black;
     height: 200px;
 }



 .linkimage   {
     text-align: center;
 }
 
 .row-websites {
     display: flex;
     width: 100%;
 }
 
 .rows {
     border: 1px solid black;
     height: 100px;
     width: 50%;
     
 }
 




 /* NO REASON TO BE HERE DOWN!!!!*/
 #runbuddypic { 
     background: url("../images/hero-bg.jpeg");
     background-size: cover;
    background-position: center;
    background-position: 80%;
    background-repeat: no-repeat;
    
    
 }
 
 #coderefactorpic {
     background: url("../images/digital-marketing-meeting.jpg");
     background-size: cover;
    background-position: 75% 17%;
 }

 #lucassoccer {
     background: url("../images/lucassoccer.jpg");
     background-size: cover;
    background-position: 75% 17%;
 }

 #waltersinging {
     background: url("../images/WalterSinging.jpg");
     background-size: cover;
    background-position: 75% 35%;
 }

 #fathercubillas {
     background: url("../images/Father&Cubillas.jpeg");
     background-size: cover;
    background-position: 70% 13%;
 }
 /* NO REASON TO BE HERE  UP!!! */




/* SECTION MY INFO */
.my-info {
    display: flex;
    width: 100%;
    
}

.contacts {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
    
}

.contacts div {
    border-bottom: solid lawngreen 10px;
}

/*flex-direction: column ENTER ME IN MY INFO*/





/* the end of CSS Style*/



/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */
@media screen and (max-width: 980px) {

    header {
      padding-bottom: 0;
      justify-content: center;
      position: relative;
    }
  
    header h1 {
      width: 100%;
      text-align: center;
    }
  
    header nav ul {
      margin-top: 20px;
      width: 100%;
      justify-content: center;
    }
  
    header nav ul li a {
      font-size: 20px;
    }
  
    footer h2, footer div {
      text-align: center;
      width: 100%;
    }

  
    .know-me {
      width: 80%;
    }
    
    .projects {
      flex: 0 70%;
    }
    
    .my-info{
      flex: 1 100%;
    }
  }
  
  /* MEDIA QUERY FOR TABLETS AND SMALLER */
  @media screen and (max-width: 768px) {
      section {
          padding: 30px 15px;
        }
      
        .know-me {
          flex: 1 100%;
          text-align: center;
        }
      
        .projects {
          flex: 2 100%;
          text-align: center;
          justify-content: center;
        }
      
        .step-img {
          flex: 0 32%;
          margin-right: 0;
          margin-top: 15px;
          margin-bottom: 15px;
        }
      
        .my-info {
          flex: 1 100%;  
        }
  }
  
  /* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
  @media screen and (max-width: 575px) {
      .hero-form button {
          width: 100%;
        }
      
        .section-title {
          width: 95%;
        }
      
        .intro p {
          width: 100%;
        }
      
        .trainer {
          flex: 0 100%;
        }
      
        .contact-info {
          text-align: center;
        }
      
        .contact-info > * {
          flex: 0 100%;
        }
        .contact-form {
          order: 3;
        }

        .my-info {
            flex: 1 100%;
        } 
  
  }