header {
    padding: 20px 35px;
    background-color: wheat;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: -webkit-sticky;
    position: sticky;
    top: 0;;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-position: 80%;

}

header nav {
    margin: 7px 0;
}

header nav ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw; 
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

body {
    background-color: rgb(218, 226, 208);
}

body h1 {
    color: black;
    background-color: aqua;
}

img {
    width: 200px;
    height: 300px;
}
section p {
    size: 20px;
    padding: 45px;
}